proj.win32/Debug.win32/
proj.win32/*.opensdf
proj.win32/*.sdf
proj.android/assets/
proj.android/bin/
proj.android/obj/
proj.android/gen/
proj.android/libs/
proj.android/.settings/
proj.android/google-play-services_lib/bin/
proj.android/google-play-services_lib/gen/
cocos2d/
.cocos-project.json
proj.win32/.vs/MyGame/v15/Browse.VC.db
proj.win32/.vs/MyGame/v15/Browse.VC.opendb
proj.win32/.vs/MyGame/v15/Solution.VC.db
proj.win32/.vs/MyGame/v15/Solution.VC.db-shm
proj.win32/.vs/MyGame/v15/Solution.VC.db-wal
proj.win32/.vs/MyGame/v15/ipch/AutoPCH/315f972e033d264c/HELLOWORLDSCENE.ipch
proj.win32/.vs/MyGame/v15/ipch/AutoPCH/3c64c88d009dd7f1/MAIN.ipch
proj.win32/.vs/MyGame/v15/.suo
proj.win32/.vs/MyGame/v15/ipch/AutoPCH/8ab760013180916c/APPDELEGATE.ipch
proj.win32/.vs/MyGame/v15/ipch/AutoPCH/eb7201dc50bd14a7/MENUSCENE.ipch
*.ipch
*.db
*.opendb
proj.win32/.vs/MyGame/v14/.suo
